.app-container {
    margin: 0.4rem 1.2rem;
    font-size: 1.2rem;
    font-family: Nunito, sans-serif;
    font-weight: 500;
}

.logoP {
    font-size: 1.9rem;
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    align-content: center;
}
.home-card {
    width: 40%;
    height: 200px;
    padding: 10px;
    border-radius: 1rem;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.home-img {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid rgb(90, 89, 89);
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.home-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #181127;
    text-decoration: none;
}

.at {
    text-decoration: none;
    color: #181127;
}

.links {
    width: 80%;
    color: blue;
}
